<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="vendor/autoload.php" verbose="true" processIsolation="true" stopOnFailure="false">
    <testsuites>
        <testsuite name="Model">
            <file>tests/unit/Model/CartTest.php</file>
            <file>tests/unit/Model/ProductTest.php</file>
            <file>tests/unit/Model/ShippingFeesTest.php</file>
        </testsuite>
         <testsuite name="Service">
            <file>tests/unit/Service/Discount/Provider/StrategyATest.php</file>
            <file>tests/unit/Service/Discount/Provider/StrategyBTest.php</file>
            <file>tests/unit/Service/Discount/Provider/StrategyCTest.php</file>
            <file>tests/unit/Service/Discount/DiscountTest.php</file>
        </testsuite>
        <testsuite name="Exception">
            <file>tests/unit/Exception/CLIExceptionTest.php</file>
        </testsuite>
        <testsuite name="Index">
            <file>tests/unit/indexTest.php</file>
        </testsuite>
        <testsuite name="Controller">
            <file>tests/unit/Controller/CartControllerTest.php</file>
        </testsuite>

    </testsuites>
</phpunit>